#preview{
  height: 512px;
  position: relative;
  overflow: hidden;
  .loading{
    left: 10%;
    top: 10%;
    position: absolute;
  }
  .menu-buttons{
    position: absolute;
    right: 5px;
    bottom: 5px;
    button{
      background-color: rgba(255,255,255,0.5);
      margin-left: 5px;
    }
    a{
      text-decoration: none;
    }
  }
  #preview_reload{}
  #download_menu{}
}
