.mcmap-container{
  margin-left: auto;
  margin-right: auto;
  width: 512px;
  margin-bottom: 40px;
  .search-field{width: 100%;}
  #mcmap{
    width: 512px;
    height: 512px;
    .background{
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-size: cover;
    }
    position: relative;
  }
  .area{
    text-decoration: none;
    color: white;
    position: absolute;
    width: 3.125%;
    height: 3.125%;
    .area-button{
      content: '';
      position: absolute;
      left: -40%;
      top: -40%;
      padding: 40%;
      width: 100%;height: 100%;
      background: rgba(0,0,255,0.2);
      border-radius: 10%;
      &:hover{
        background: rgba(0,0,255,0.6);
      }
    }
    &.search-hit{
      .area-button{
        color: gray;
        background: rgba(255,255,128,0.8);
        &:hover{
          background: rgba(255,160,64,0.8);
        }
      }
    }
  }
}
